/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

.primary-color{
    background: #673ab7;
}
.title{
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 15px 20px;
    display: block;
    margin-top: 5%;
}
/* h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}*/
/* everywhere else */
/* * {
  font-family: Arial, Helvetica, sans-serif;
}  */

body, input[text]{
font-family: Roboto,"Helvetica Neue",sans-serif;
}
